<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!-- general env settings -->
    <add key="BackupPath" value="D:/backup/"/>
    <add key="Path" value="D:/" />
    <add key="FormatForInfoRussianSymbols" value="Ln: {0} Col: {1} Text: {2}" />
    <add key="FormatFileInfo" value="File name: {0} | Extension: {1} | Size {2} KB" />
    <add key="RegexTemplate" value="[А-Яа-я]+" />
  </appSettings>
</configuration>